{% comment %}
  Very important reading:
  http://docs.shopify.com/themes/liquid-basics/what-is-true-and-false-in-liquid
  Learn how to read theme settings in your theme.
  {% section 'promo' %}
  {% section 'detail' %}
{% endcomment %}

{{ page.content }}
{{ content_for_index }}
{% section 'promo' %}

{% comment %}
<div class="grid">
    <div class="third">
        <p>The plaster mould, an early sculptural form.</p>
        <img src="{{ 'Pot-M.jpg' | asset_url }}">
    </div>
    <div class="third">
        <p>Natural latex carefully cast to create functional, durable luggage.</p>
        <img src="{{ 'feat-img-placeholder.jpg' | asset_url }}">
    </div>
    <div class="third">
        <p>An inside out egg—the final product keeps the impression of its origin.</p>
        <img src="{{ 'feat-img-placeholder.jpg' | asset_url }}">
    </div>
</div>
{% endcomment %}

<div id="home-products">
    <h1>Products</h1>
    
      {% if collection.description.size > 0 %}
        {{ collection.description }}
      {% endif %}
      
    <div class="grid">
      {% for product in collections.all.products %}
        <ul class="product-list">
          {% include 'product-item' %}
        </ul>
      {% else %}
        <p>There are no products in this view.</p>
      {% endfor %}
    </div>
    
      {% if paginate.pages > 1 %}
        {{ paginate | default_pagination }}
      {% endif %}
</div>