{% comment %}
  Very important reading:
  http://docs.shopify.com/themes/liquid-basics/what-is-true-and-false-in-liquid
  Learn how to read theme settings in your theme.
{% endcomment %}

{{ page.content }}
{{ content_for_index }}
{% section 'promotion' %}


<h1>{{ collection.title }}</h1>
  {% if collection.description.size > 0 %}
    {{ collection.description }}
  {% endif %}
  
<div class="grid">
  {% for product in collections.all.products %}
    <ul class="product-list">
      {% include 'product-item' %}
    </ul>
  {% else %}
    <p>There are no products in this view.</p>
  {% endfor %}
</div>

  {% if paginate.pages > 1 %}
    {{ paginate | default_pagination }}
  {% endif %}