<div id="promo-section">
    <div class="grid">
        <div class="three_fifths">
            <img src="{{ section.settings.featureimage | img_url: '1024x'}}" class="img_fillcontainer" />
        </div>
        <div class="two_fifths large-padding" style="background-color:{{ section.settings.background_color }}">
            <h1 class="large">{{ section.settings.header }}</h1>
            <p>{{ section.settings.copy }}</p>
            <a href="{{ section.settings.buttonlink }}" class="btn">{{ section.settings.buttontext }}</a>
        </div>
    </div>
</div>

{% schema %}
  {
    "name": "promo",
    "settings": [
      {
        "id": "featureimage",
        "type": "image_picker",
        "label": "Feature image"
      },
      {
        "id": "header",
        "type": "text",
        "label": "Header",
        "default": "Range 1—Early Sculptural Forms"
      },
      {
        "id": "copy",
        "type": "text",
        "label": "Copy",
        "default": "Handmade Natural Latex bags and wallets, available across eight colours."
      },
      {
        "id": "buttontext",
        "type": "text",
        "label": "Button text",
        "default": "Shop now"
      },
      {
        "id": "buttonlink",
        "type": "url",
        "label": "Button link"
      },
      {
        "type": "color",
        "id": "background_color",
        "label": "Background color",
        "default": "#ffe66f"
      }
    ]
  }
{% endschema %}


{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}